{
    blue-100: #BBDEFB;
    blue-300: #64B5F6;
    blue-400: #42A5F5;
    blue-500: #2196F3;
    blue-500-25: #2196F344;
    blue-500-60: #2196F3AA;
    blue-500-90: #2196F3E6;
    blue-grey-50: #ECEFF1;
    blue-grey-100: #CFD8DC;
    blue-grey-500: #607D8B;
    blue-grey-500-0: #607D8B00;
    blue-grey-500-80: #607D8BCC;
    blue-grey-600: #546E7A;
    blue-grey-600-0: #546E7A00;
    blue-grey-600-80: #546E7ACC;
    blue-grey-700: #455A64;
    blue-grey-800: #37474F;
    blue-grey-900: #263238;
    blue-grey-900-60: #263238AA;
}

.root-container {
    -fx-background-color: white;
}

.toolbar-button {
    -fx-background-color: transparent;
}

.toolbar-button:hover {
    -fx-background-color: blue-300;
}

.toolbar-button:pressed {
    -fx-background-color: blue-100;
}

.popup-container {
    -fx-background-color: blue-500;
    -fx-effect: dropshadow(three-pass-box, gray, 3, 0.0, 0, 1);
}

.popup-container > .button {
    -fx-padding: 7;
    -fx-font-size: 12;
    -fx-background-radius: 0;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.popup-container > .button:hover {
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.popup-container > .label {
    -fx-padding: 20 10 20 10;
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.progress-bar > .bar {
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.20em;
}

.progress-bar .track {
    -fx-background-color: transparent;
}

.progress-value {
    -fx-font-size: 8;
    -fx-font-weight: bold;
}

.secondary-toolbar {
    -fx-padding: 0 10 5 0;
}

.text-field {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-padding: 3 10 3 10;
}

.toggle-button {
    -fx-background-color: #EEEEEE;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 2;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(three-pass-box, gray, 3, 0.0, 0, 1);
}

.toggle-button:focused{
    -fx-effect: dropshadow(three-pass-box, gray, 3, 0.0, 0, 1);
}

.toggle-button:hover {
    -fx-effect: dropshadow(three-pass-box, gray, 8, 0.0, 0, 1);
}

.toggle-button:pressed {
    -fx-effect: dropshadow(three-pass-box, gray, 1, 0.0, 0, 1);
}

.toggle-button:selected {
    -fx-border-color: blue-500;
    -fx-effect: dropshadow(three-pass-box, gray, 3, 0.0, 0, 1);
}

.toggle-button:hover:selected {
    -fx-border-color: blue-500;
    -fx-effect: dropshadow(three-pass-box, gray, 8, 0.0, 0, 1);
}

.toggle-button .aim-image-view-container {
}

.toggle-button .label {
}

.toolbar {
    -fx-background-color: linear-gradient(blue-grey-600-80 70%, blue-grey-600-0 95%), blue-500;
    -fx-background-insets: 0, 0 0 10 0;
    -fx-padding: 5 10 15 10;
}

.setting-views {
    -fx-background-color: blue-grey-50;
    -fx-effect: dropshadow(three-pass-box, gray, 8, 0.0, 0, 1);
    -fx-opacity: 0;
}

.floating-action-button {
    -fx-background-color: blue-grey-500, blue-500;
    -fx-background-insets: 0, 1 0 0 0;
    -fx-background-radius: 100;
    -fx-effect: dropshadow(three-pass-box, blue-grey-500, 8, 0.0, 0, 3);
}

.floating-action-button:hover {
    -fx-background-color: blue-grey-500, blue-400;
    -fx-background-insets: 0, 1 0 0 0;
    -fx-background-radius: 100;
    -fx-effect: dropshadow(three-pass-box, blue-grey-500, 8, 0.0, 0, 3);
}

.floating-action-button:pressed {
    -fx-background-color: blue-grey-500, blue-400;
    -fx-background-insets: 0, 1 0 0 0;
    -fx-background-radius: 100;
    -fx-effect: dropshadow(three-pass-box, blue-grey-500, 4, 0.0, 0, 3);
}